.navbar {
  height: 10%;
  width: 100%;
  /* border: 2px solid black; */
}

.logo {
  height: 100%;
  width: 30%;
  /* border: 2px solid green; */
  margin-top: 15px;
  text-align: center;
  margin-left: 25%;
  display: flex;

}

.logo img {
  width: 100%;
}